	input{
			
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;

		}


		#mainContain{

			padding-top: 150px;


		}

		img{


			border: 10px solid transparent;

		}

		h4{

			font-style: italic;
			color: gray;

		}
		h3{

			font-style: italic;
			color: gray;

		}



